.doc-container {
    box-shadow: 0px 0px 30px rgb(219, 219, 219);
}
.doctor-image {
    height: 250px;
}
.single-doctor{
    margin-top: 20px;
    transition: ease-in-out 0.4s;
}
.single-doctor:hover{
    transform:translateY(15px)
}