.service-image {
    height: 200px;
    max-width: 200px;
    margin-top: 10px;
    border: 2px solid rgb(223, 223, 223);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 10px 10px 30px grey;
}

.service-area {
    transition: ease-in-out 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(199, 199, 199);
}
.service-area:hover{
    transform: scale(1.05);
}