.news-banner {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.698)), url("../../Image/newsLater.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: auto;
    padding: 200px 0;
}