/* @media only screen and (min-width:689px) and (max-width:992px) {
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .news-text h3 {
        width: 100%;
        padding: 0 20px;
    }

    .news-banner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }

    .login-container,
    .register-area,
    .appoint-container {
        display: block;
        width: 100%;
    }

    .login-area,
    .login-text,
    .register-details,
    .register-input {
        width: 100%;
    }

    .register-details h1,
    .register-details p {
        text-align: center;
    }
} */