@media only screen and (max-width:688px) {
    .banner-text {
        position: absolute;
        top: 50%;
        left: 1px;
    }

    .banner-text h1 {
        font-size: 30px;
    }

    .menu-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }

    .services {
        display: block;
        max-width: 100%;
        margin-bottom: 10px;
        border-bottom: 5px solid greenyellow;
    }

    .service-p {
        margin-bottom: 50px;
    }

    .about-head {
        width: 100%;
    }

    .about-area {
        display: block;
    }

    .about-image {
        width: 100%;
    }

    .about-image img {
        width: 100%;
    }

    .about-text {
        width: 100%;
        margin-left: 0;
    }

    .register-area {
        display: block;
        width: 100%;
    }

    .register-input {
        width: 100%;
    }

    .register-input input {
        width: 100%;
    }

    .register-details {
        display: block;
        width: 100%;
    }

    .login-container {
        display: block;
        width: 100%;
    }

    .login-area {
        display: block;
        width: 100%;
    }

    .login-text {
        display: block;
        width: 100%;
    }

    .news-banner {
        display: none;
    }

    .news-text h1 {
        width: 100%;
        padding: 0 15px;
    }

    h3.text-gray-400.w-6\/12.mx-auto.mt-4.mb-16 {
        width: 100%;
    }
}


@media only screen and (min-width:689px) and (max-width:992px) {
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .news-text h3 {
        width: 100%;
        padding: 0 20px;
    }

    .news-banner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }

    .login-container,
    .register-area,
    .appoint-container {
        display: block;
        width: 100%;
    }

    .login-area,
    .login-text,
    .register-details,
    .register-input {
        width: 100%;
    }

    .register-details h1,
    .register-details p {
        text-align: center;
    }
}